.about-section-left {
  padding: 3rem 4rem;
  display: flex;
  justify-content: space-between; 
}

.about-btn {
  border: none;
  cursor: pointer;
  position: absolute;
  margin-left: 2rem;
  font-size: large;
  background: rgb(250, 247, 242);



}

.mentor-section {
  flex: 1; 
  max-width: 50%;
  padding-top: 1.5rem;
}

.mentor-section h3 {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.mentor-image {
  height: 80px;
  width: 80px;
  margin-left: -10px;
  border-radius: 50%;
  margin-top: 0.7rem;
}

.mentor-info {
  display: flex;
  align-items: center;
}

.mentor-text {
  margin-left: 1rem;
  font-size: 12px;
}

.about-courses p {
  font-size: 10px;
  width: 90%;
}

.tools-img {
  width: 70px;
  height: 60px;
  margin-left: -15px;
  margin-top: 10px;
}

.tools {
  display: flex;
  align-items: center;
}

.tools p {
  text-align: center;
  font-size: 18px;
}



.course-summary-right {
  padding: 3rem;
  display: flex;
  flex-direction: column; 
  background: #ffffff;
  height: 380px; 
  width: 420px; 
  border-radius: 30px;
  padding-top: 1.5rem;


}

.video-container {
  position: relative; 
  width: 420px;
  height: 180px;
  border-radius: 26px;
  cursor: pointer;
  background-color:lightgray;
}

.course-video {
  width: 100%;
  height: 100%; 
  border-radius: 20px; 
  object-fit: cover;
}

.video-overlay {
  position: absolute; 
  top: 75%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.overlay-text {
  margin-top: 5px; 
  color: white; 
  font-size: 18px; 
}

.tag {
  display: inline-block; 
  background: #335EF714;
  color: green; 
  border-radius: 6px; 
  font-size: 6px;
  width: 40px;
  margin-top: 0.5rem;
  height: 0.7rem;
  width: 3rem;
  text-align: center;
  padding-top: 2px;
}



.about-course-details {
  margin-top: auto;
  padding: 0.5rem;
  color:rgba(117, 117, 117, 1);
  font-size: 10px;
  
}
.about-course-details h4{
  color: black;
  font-size: 12px;
}

ul{
  list-style-type: none; 
  padding: 0px;

.course-right-icons{
  margin-right: 1rem;
  height: 12px;
  width: 12px;
  
}  

}
li{
display: flex;
align-items: center;
margin-bottom: 10px;
}

.enroll-btn{
  background: #2D6A4F;
  border-radius: 16px;
  padding: 1rem;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;

}



.ellipse {
  position: absolute;
  top:500px; 
  right: -350px; 
  width: 1200px; 
  height: 1300px; 
  border-radius: 50%; 
  z-index: -1; 
  
  background: radial-gradient(circle, rgba(216, 243, 220, 1) 30%, rgba(216, 243, 220, 0) 50%);
  

}

body {
  overflow-x: hidden; 
}

@media (max-width: 768px) {
  .about-section-left {
    padding: 1rem;
    flex-direction: column;
  }

  .mentor-section {
    max-width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .mentor-info {
    flex-direction: column;
    text-align: center;
  }

  .mentor-text {
    margin-left: 0;
    margin-top: 1rem;
  }
.about-courses{
  text-align: center;
}
.about-courses p{
    margin-left: 40px;
}
  
.tools{
    margin-left: 40%;
    margin-bottom: 2.5rem;
  }






  .course-summary-right {
    padding:1.5rem;
    width: auto;
    height: auto;


  }

  .video-container {
    height: 200px;
    width: 100%;
    

  }
  .ellipse{
    width: 1000px;
    height: 1000px;
    position: absolute;
    margin-top: 700px;
  }

  

  .enroll-btn {
    padding: 0.75rem;
  }
}
